
/************************************** PERFIL DE USUARIO **********************************************/

.profile-container {
    max-width: 1000px;
}
  

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff; 
}

.tabs__head {
    display: flex;
    justify-content: center;
    height: 45px;
    font-weight: bold;  
    color: var(--color-bg-gray);   
}


.tabs__toggle {
   
    display: flex;
    width: 100%; 
    justify-content: center;
    align-items: center;
    background: var(--color-bg-lightgray);
    cursor: pointer;
    border-bottom: 1px solid #c2d2d2;
    border-left: 1px solid #c2d2d2;
    transition: background 0.3s ease;  
    transition: color 0.5s ease;  
     
    

}

.tabs__toggle.isActive {
   background: #fff;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-top: 3px solid black;
   border-right: 1px solid #c2d2d2;
   color: black;
   border-bottom: none;
}


/* delete border left to the next element after of active */
.tabs__toggle.isActive + .tabs__toggle {
    border-left: none; 
}

.tabs__toggle:last-child {
    border-right: 1px solid #c2d2d2;
}


/* content of every tab */
.tabs__content {
   padding-top: 30px;
   display: none;
   
}

.tabs__content.isActive {
    display: block;
}

.tabs__title {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}



.tabs__head .tabs__toggle p {
    margin-left: 5px;
 }


 /*********************** INFO PROFILE *************************/
 .info__profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap:30px;
    width: 100%;
 }

 .profile__subtitle{
    font-size: 1em;
    margin-bottom: 1.2em;
 }

.info__profile {
    border-radius: 5px;
    border: 1px solid var(--color-bg-midgray);
    padding: 20px;
}

.border__bottom {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--color-bg-midgray);
}


/* INFORMACION PERSONAL */
 


  .form__info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  

  
  .form__label {
    display: block;
    font-size: 0.8em;
    padding-bottom: 0.3em;
    font-weight: bold;
    color: var(--color-bg-darkestgray);
  }
  
  .form__input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 0 0px 4px 10px; 
    background: #fff;
    border: 1px solid var(--color-bg-midgray);
    line-height: 45px;
    transition: all 0.3s ease;
  }
  
  .form__input:focus {
    border: 1px solid var(--color-text-blue);
    outline: none;
  }
  
  /* BUTTON */

   .grid__button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
   }

  .button__info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: var(--color-button-blue);
    border-radius: 5px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    transition: background-color 0.2s ease;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button__info:hover {
    background-color: var(--color-button-blue);
  }

  .button__cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 1px solid var(--color-button-blue);
    border-radius: 5px;
    width: 100%;
    color: var(--color-button-blue);
    font-size: 14px;
    transition: background-color 0.2s ease;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button__cancel:hover {
    background-color: #fff;
    box-shadow: rgb(0, 84, 252, 0.5) 0px 0px 5px;
  }

 
/* **********************   PERFIL INTERESES   ***************************** */

.radios__interests {
  display: grid;
  grid-template-columns: 1fr;
  gap:5px;
}

.label__interests {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-height: 38px;
  position: relative;
}

.title__interest {
  font-weight: bold;
  font-size: 1em;
  padding-left: 25px;
}

.label__interests img {
  height: 100%;
  max-height: 35px;
}

input[type="checkbox"] {
  display: none;
}

/* CUSTOM CHECKBOX GIFT */
 
.label__interests::before {
  content: "";
  background: url("../assets/checkmark.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  top: calc(100% / 2 (-25px));
  opacity: 0;
  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

 
input[type="checkbox"]:checked + .label__interests::before{
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

input[type="checkbox"]:checked + .label__interests span{
   opacity: 0;
   transform: scale(2) rotate(0deg);
}

.radio__empty {
  border: 1px solid var(--color-text-lightgray);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: calc(100% / 2 (-25px));
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}


 /* **********************   MEDIA QUIERIES   ***************************** */

@media screen and (max-width: 768px) {
    /* quita toda las letras en tabs solo quedan los iconos */
    .tabs__head .tabs__toggle p:nth-child(2) {
       display: none;
     }

     .info__profile {
        grid-template-columns: 1fr;
     }

     .info__profile {
        border-radius: none;
        border: none;
        padding: 0px;
    }
     .form__info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
      }

      .grid__button {
        grid-template-columns: 1fr;
       }

       
      .radios__interests {
        gap:10px;
      }
}